#!/bin/bash

echo `date`

DOC_PATH=
VENV_PATH=$DOC_PATH
REMOTE_REPO_MAME=origin
DEPOLY_BRANCH=master

# change work space
cd $DOC_PATH

git fetch
diff=`git diff $DEPOLY_BRANCH $REMOTE_REPO_MAME/$DEPOLY_BRANCH`

if [ -n "$diff" ]; then
    echo "****************** something changed ! ******************"

    git checkout $DEPOLY_BRANCH
    git merge $REMOTE_REPO_MAME/$DEPOLY_BRANCH

    # activate venv
    source $VENV_PATH/bin/activate
    echo $VENV_PATH/bin/activate
    # build doc
    mkdocs build

    # deactivate venv
    deactivate
fi

echo "==============================================================="
