div#content p {
  line-height: 1.8;
  font-size:15px;
  margin-bottom:0px;
}

div#content h1 {
  font-size: 28px;
  color: #1b75bb;
  font-weight: bold;
  margin-top: 6px;
}

div#content h2 {
  font-size: 24px;
  color: #666666;
  font-weight: bold;
  padding-bottom: 4px;
  margin-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#e5e5e5;
  padding-top: 40px;
}

div#content h3 {
  font-size: 18px;
  color: #1b75bb;
  font-weight: bold;
  font-size: 18px;
}

div#content ul li{
  font-size: 15px;
  line-height: 1.8;
  min-height: 26px
}

div#content table tr th {
    line-height: 1.8;
    word-break:keep-all;
    min-width:60px;
    background-color: #f3f4f6;
    border: 1px solid #dddddd;
    height: 46px;
}

div#content table tr td {
    line-height: 1.8;
    min-width:60px;
    height: 40px;
    border: 1px solid #dddddd;
}

div#content pre {
  background-color: #fafafa;
  margin-top:10px;
}


div#content pre code {
  letter-spacing: 0;
}
