div.row.downloads  .thumbnail > img {
    border: none;
    vertical-align: top;
    padding-left: 40px;
    padding-right: 50px;
}

div.row.downloads  .thumbnail > .caption {
    display: inline-block;
}

@media (min-width: 992px) {
    div.row.downloads  .thumbnail > img {
        display: block;
        text-align: center;
    }
}
