div.row.downloads  .thumbnail > img {
    border: none;
    vertical-align: top;
    padding-left: 40px;
    padding-right: 50px;
}

div.row.downloads  .thumbnail > .caption {
    display: inline-block;
}

div#content div.row.downloads .thumbnail > .caption li {
    line-height: 1.8;
    font-size:13px;
    color: #666666;
}
div#content div.row.downloads .thumbnail > .caption li a,
div#content div.row.downloads .thumbnail > .caption li a:hover,
div#content div.row.downloads .thumbnail > .caption li a:focus {
    color: #666666;
}

div.row.downloads .thumbnail > .caption .li-clear {
    display: none;
}

@media (min-width: 992px) {
    div.row.downloads  .thumbnail > img {
        display: block;
        text-align: center;
    }
    div.row.downloads .thumbnail > .caption .li-clear {
        list-style-type: none;
        display: list-item;
    }
}
